
@model IEnumerable<MyTournaments.Game>

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>

<p>
    <button class="menubuttons crete-button" onclick="location.href = '@Url.Action("Create", "Games")'">Create New</button>
    <button class="menubuttons back-button" onclick="location.href = '@Url.Action("Index", "Home")'">Back</button>
</p>
<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    <button class="menubuttons others-button" onclick="location.href = '@Url.Action("Details", "Games", new { id = item.Id })'">Teams</button>
                    <button class="menubuttons others-button" onclick="location.href = '@Url.Action("Index", "TournamentGames", new { id = item.Id, name = item.Name })'">Tournaments</button>
                    <button class="menubuttons edit-button" onclick="location.href = '@Url.Action("Edit", "Games", new { id = item.Id })'">Edit</button>
                    <button class="menubuttons delete-button" onclick="location.href = '@Url.Action("Delete", "Games", new { id = item.Id })'">Delete</button>

                </td>
            </tr>
        }
    </tbody>
</table>



<html>
<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        

        // Set a callback to run when the Google Visualization API is loaded.
        

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Mushrooms', 3],
                ['Onions', 1],
                ['Olives', 1],
                ['Zucchini', 1],
                ['Pepperoni', 2]
            ]);

            // Set chart options
            var options = {
                'title': 'How Much Pizza I Ate Last Night',
                'width': 400,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
</body>
</html>